*{
			margin:0;
			padding: 0;
			
		}


		#main{
			
			/*background-color: red;*/

			
		}

		body{
			
			/*background-color: black;*/
		}

		.header{
			display: flex;
		    flex-direction: row;
		    justify-content:center;
			background-color: grey;
			height:100px;
			
		}

		.logo{
			
			position:relative;
			right:300px;
			margin: 10px;
			padding: 5px;
			
			display:inline-block;
			


		    }

		  .navbar{
		  	position:relative;
			right:-300px;
		  	display: flex;
		  	flex-direction: row;
		  	justify-content:center;
		  	align-items: center;
		  }

		  li{

		  	display: inline;
		  	padding: 10px;
		  }

		  li a:hover{
		  	background-color: blue;
		  }

		  ul a{
		  		text-decoration: none;
		  		color:white;
		  		font-size: 20px;
		  }

		  .banner{
		  	height: 150px;
		  	background-color: lightblue;
		  	display: flex;
		  	flex-direction:row;
		  	align-items: center;
		  	justify-content: center;
		  }

		  .container{
		  	/*background-color: purple;*/
		  	height: 430px;
		  	display: flex;
		  	justify-content: center;

		  }

		  .container > div{
		  	width:550px;
		  	height: 410px;
		  	/*background-color: green;*/
		  	margin: 10px;

		  }

		  .footer{

		  	width:100%;
		  	position: fixed;
		  	bottom:0px;
		  	background-color: grey;
		  	height: 85px;
		  	margin-top: 5px;
		  }

		  #bottombar{
		  		padding-top: 30px;

		  }

		  #lf1{
		  	background-color: yellow;
		  	height: 410px;

		  }

		  #lf2{
		  	background-color: pink;
		  	height: 260px;
		  	width:50%;
		  	position:relative;
		  	bottom:380px;
		  	right:40px;
		  	box-shadow: 4px 4px 15px grey;

		  }

		  #rc1{
		  	height: 69%;
		  	background-color: orange;
		  }

		  #rc2{
		  	margin-top: 1%;
		  	height: 30%;
		  	background-color: green;
		  }

		  .boxes{
			color: white;
        padding: 3px;
        height:30px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 18px;

        background-color: rgba(255,188,64);
        font-size: 16px;

      }

      #larrow{
      	position: relative;
      	right:470px;


      }

      #rarrow{
      	position: relative;
      	right:-470px;
      }

     

     .footer #bottombar li:nth-child(1):after , #bottombar li:nth-child(2):after ,#bottombar li:nth-child(3):after
        {
      		 
      	
      		padding-left: 20px;
      		content: "|";

      		
      	}