            
      *{
			margin:0;
			padding: 0;
			
		}


	

		
		.header{
			
			background-color:#c9cdd1;
			height:100px;
			
			
		}

		#container1{
			/*background-color: green;*/
			width:1564px;
			margin: 0 auto;
			padding: 0;
			
		}

		

		

		.logo{
			
			
			float: left;
			padding: 15px 120px;
			
		}

		 .navbar{
		  	float: right;
		  	padding: 35px 120px; 

		  }

		  li{

		  	display: inline;
		  	padding: 10px;
		  	
		  }

		  li a:hover{
		  	background-color: black;
		  	color: white;
		  
		  }

		  ul a{
		  		text-decoration: none;
		  		color:blue;
		  		font-size: 20px;
		  		padding: 10px;


		  }


		  .banner{
		  	height: 145px;
		  	background-color:#3186e8;
		  	
		  }

		  #bannertext{
		  	color: white;
		  	float: left;
		  	margin: 50px 250px; 

		  }

		   #larrow{
      
      	float: left;
      	margin: 50px -285px; 


			}

      #rarrow{
      	
      	float:right;
      	margin: 50px 135px; 
      }

      .container{
		  	/*background-color: purple;*/

		  	height: 430px;
		  	
		  }

		 #lf1{
		  	background-color: #e6dc5c;
		  	width:600px;
		  	height: 410px;
		  	float: left;
		  	position: relative;
		  	left:115px;
		  	margin:10px;

		  	


		  }

		  #lf2{
		  	background-color: pink;
		  	width:300px;
		  	height: 300px;
		  	float: left;
		  	position:absolute;
		  	left: -25px;
		  	top: 40px;

		  	
		  	box-shadow: 4px 4px 15px grey;

		  }

		 

		  #rc1{
		  	float: right;
		  	margin-top: 10px;
		  	margin-left: 10px;
		  	margin-right:140px; 
		  	width: 690px;
		  	height: 300px;
		  	background-color: #f57b11;
		  }

		  #rc2{
		  
		  	
		  	float: right;
		  	width:690px;
		  	height: 100px;
		  	margin-top: 10px;
		  	margin-right: 140px;	  	
		  	background-color:#9efa34;
		  }

		 #rc1 input{
			color: white;
        padding: 3px;
        height:30px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 22px;

        background-color: rgba(255,188,64);
        font-size: 16px;
        width: 50%;

      }

      #rc1 select{
      	color: white;
        padding: 3px;
        height:30px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 22px;

        background-color: rgba(255,188,64);
        font-size: 16px;
        width: 50%;
      }


      #rc1 input:last-child{
			color: white;
        padding: 3px;
        height:30px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 22px;

        background-color: rgba(255,188,64);
        font-size: 16px;
        width:25%;

      }





     

      .footer{

		  	
		  	position: relative;
		  	bottom:0px;
		  	background-color:#257ee6;
		    height: 95px;
		  
		  }

		  #bottombar{
		  	    width:800px;
		  	
		  		padding-top: 40px;
		  		
		  		position: relative;
		  		left:500px;
		  		
		  }

      .footer #bottombar li:nth-child(1):after , #bottombar li:nth-child(2):after ,#bottombar li:nth-child(3):after
        {
      		 
      	
      		padding-left: 20px;
      		content: "|";
      		color: white;
      		/*color: white;*/

      		
      	}



    .footer #bottombar ul a{
		  		text-decoration: none;
		  		color:white;
		  		font-size: 20px;
		  }


       

      

       

      
